<footer>
<br/><p id="phone1" style="text-align:center;"><a href="{{ "/" | relative_url }}" style="font-variant: small-caps;  font-weight: bold;color:white;">{{ site.title | escape }}</a><br/><a href="{{"/categories/" | relative_url }}" style="color: white;">Categories</a> &#183; <a href="{{ "/tags/" | relative_url }}" style="color: white;">Tags</a> &#183; <a href="{{ "/listoflists/" | relative_url }}" style="color: white;">List of lists</a> &#183; <a href="{{ 'feed.xml' | relative_url }}" style="color: white;">Feed</a><!--<svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
</svg> --><br/>&copy;{{ site.author.name | escape }}</p>
<hr style="margin: 0;"/>
</footer> <!--  /container  -->
