<footer>
<p style="text-align:center;">{{ site.title | escape }}: {{ site.description | escape }}<br/><a href="/categories/" style="color: white;">Categories</a> &#183; <a href="/tags/" style="color: white;">Tags</a> &#183; <a href="{{ 'feed.xml' | relative_url }}" style="color: white;"><!--<svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
</svg> -->Feed</a><br/>&copy;{{ site.author.name | escape }}</p>
<hr style="margin: 0;">
</footer> <!--  /container  -->
