<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ "assets/js/ie10-viewport-bug-workaround.js" | relative_url }}"></script>
    <!-- For phone -->
    <script type="text/javascript">
    <!--
    if (screen.width <= 998) {
    var x;
    x = document.getElementsByTagName("H1");
    var i;
     for (i = 0; i < x.length; i++) {
      x[i].style="font-size:2.5em;font-weight:bold;";
     }
    x = document.getElementsByTagName("H2");
     for (i = 0; i < x.length; i++) {
      x[i].style="font-size:1.8em;font-weight:bold;";
    }
    x = document.getElementsByTagName("H3");
     for (i = 0; i < x.length; i++) {
      x[i].style="font-size:1em;font-weight:bold;";
    }
    x = document.getElementsByClassName("btn btn-read");
    for (i = 0; i < x.length; i++) {
     x[i].style="width:100%;";
    }
    document.getElementById("phone1").innerHTML='<a href="{{ "/" | relative_url }}" style="font-variant: small-caps;  font-weight: bold;color:white;">{{ site.title | escape }}</a><br/><a href="{{"/categories/" | relative_url }}" style="color: white;">Categories</a> &#183; <a href="{{ "/tags/" | relative_url }}" style="color: white;">Tags</a> &#183; <a href="{{ 'feed.xml' | relative_url }}" style="color: white;">Feed</a><br/>&#183; <a href="{{ "/listoflists/" | relative_url }}" style="color: white;">List of lists</a> &#183; <br/>&copy;{{ site.author.name | escape }}<br/><a href="https://tonellicueto.xyz" style="font-variant: small-caps;  font-weight: bold;color:white;">Personal Web</a>';
    x = document.getElementsByClassName("fixed-top");
     x[0].innerHTML='<p style="text-align:center;padding-top:5vw;padding-bottom:3vw;"><a class="btn btn-title rounded-0" href="{{ "/" | relative_url }}">&nbsp;{{ site.title | escape }}&nbsp;</a></p>';
     x[0].style.backgroundColor="#ee2523";
    x = document.getElementsByClassName("post-title p-name");
    x.style="font-variant: small-caps;font-size:1.5em;";
    x = document.getElementsByClassName("post-title");
    x.style="font-size:1.5em;";
    x = document.getElementsByClassName("home");
     if (x.length>0) {if (screen.width >= 760) {x[0].style.paddingTop="19vw";} else {x[0].style.paddingTop="16vw";}}
    x = document.getElementsByClassName("post");
     if (x.length>0) {if (screen.width >= 760) {x[0].style.paddingTop="19vw";} else {x[0].style.paddingTop="16vw";}}
    x = document.getElementsByClassName("post h-entry");
     if (x.length>0) {if (screen.width >= 760) {x[0].style.paddingTop="19vw";} else {x[0].style.paddingTop="16vw";}}
    }
    //-->
    </script>

    <!-- For math expression-->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
        }
       });
    </script>
     <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  </body>

</html>
